{% extends 'base.html.twig' %}

{% block title %}Pokéballs for Sale{% endblock %}

{% block body %}
    <div class="container">
        <h1>Pokéballs for Sale</h1>

        <div class="row">
            {% for pokeBall in pokeBalls %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ pokeBall.name }}</h5>
                            <p class="card-text">{{ pokeBall.description }}</p>
                            <p class="card-text">Price: ${{ pokeBall.price }}</p>
                            <p class="card-text">Stock: {{ pokeBall.stock }}</p>
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
